*{
    border: 1px solid white;
  } 
body{
    background-color: blue;
}
  #wrapper{
    margin-left: 10rem;
    margin-right: 10rem;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr;
    grid-template-areas: "Bimg IntroCard"
                         "Bimg BodyTXT"
                         "Bimg Simg"
                         "Bimg InfoCard";
  }
  #bigImg{
    grid-area: Bimg;
  }
  #introCard{
    grid-area: IntroCard;
  }
  #bodyText{
    grid-area: BodyTXT;
  }
  #smallImg{
    grid-area: Simg;
  }
  #infoCard{
    grid-area: InfoCard;
  }
