body{
    background-color: #3f5f37;
    color: #432818;
}

#wrapper{
    background-color: #3f5f37; 
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr;
    grid-template-areas: "IntCard"
                         "Bimg"
                         "MainTXT"
                         "Simg"
                         "InfoCard"
                         "Foot";
}
@media screen and (min-width: 1024px){
    body{
        background-color: rgb(118, 153, 95);
    }
    #wrapper{
        background-color: #3f5f37;
        box-shadow: 0 0 10px 10px #3f5f37;
        display: grid;
        width: 50vw;
        margin: auto;
        margin-top: 3rem;
        grid-template-columns: 1fr,1fr;
        grid-template-rows: 1fr,3fr,1fr,1fr,1fr;
        grid-template-areas: "Bimg IntCard"
                             "Bimg MainTXT"
                             "Bimg Simg"
                             "Bimg InfoCard"
                             "Foot Foot";
    }
    #subIMG{
        margin-right: -.9rem;
    }
    #introTXT{
        margin-right: -2rem;
    }
    #introTXT header{
        font-size: 3rem;
    }
}

#mainIMG{
    grid-area: Bimg;
    position: relative;
    margin-bottom: 0;
    border-right:8px solid #6f1d1b;
    justify-self:center;
}
#system{
    max-width: 100%;
}
#mainIMG p{
    background-color: #99582a;
    margin: 0;
    border: 1px solid #6f1d1b;
}    
#subIMG{
    margin-right: -.9rem;
}
#introTXT{
    margin-right: -2rem;
}
#introTXT header{
    font-size: 3rem;
}
#mainIMG .pin{
    margin-right: 25rem;
    transform: translate(7rem,-56rem);
}
#mainIMG .pit{
    margin-right: 24rem;
    transform: translate(18rem,-55rem);
}
#mainIMG .thy{
    margin-right: 24rem;
    transform: translate(7rem,-48rem);
}
#mainIMG .parathy{
    margin-right: 22.5rem;
    transform: translate(17rem,-48rem);
}
#mainIMG .thym{
    margin-right: 24rem;
    transform: translate(7.5rem,-45rem);
}
#mainIMG .adr{
    margin-right: 24rem;
    transform: translate(2.8rem,-32rem);
}
#mainIMG .pan{
    margin-right: 27rem;
    transform: translate(16rem,-29rem);
}
#mainIMG .tes{
    margin-right: 28rem;
    transform: translate(17rem,-15rem);
}
#mainIMG .ova{
    margin-right: 27rem;
    transform: translate(7rem,-22rem);
}
#mainIMG p:hover{
    background-color: #bb9457;
}
#introTXT{
    grid-area: IntCard;
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr,3fr;
    grid-template-areas: "Title Title"
                         "Intro Nav";
    background-color: #dda15e;
    margin-top: -1rem;
    border-top: 5px solid #bc6c25;
    border-bottom: 5px solid #bc6c25;
    border-left: 5px solid #bc6c25;
    margin-bottom:0;
    transform: translateX(-1rem);
}

#introTXT header{
    grid-area: Title;
    background-color: #bc6c25;
    margin-top: 0;
    margin-bottom: 0;
    padding: .2rem;
    font-size: 2rem;
}

#navbar{
    grid-area: Nav;
    place-self: center;
    text-align: center;
    font-size: medium;
}
.sec1{
    background-color: #dda15e;
}
.sec2{
    background-color: #d4a373;
}
#navbar a{
    display: block;
    padding:.55rem;
}
#navbar a:hover{
    background-color: #bc6c25;
}
#navbar hr{
    display:block;
    border-color: #99582a;
    background-color: #99582a;
    margin-top: 0;
    margin-bottom: 0;
}
#introTXT p{
    grid-area: Intro;
    padding: 1rem;
}

#mainTXT{
    grid-area: MainTXT;
    text-align: left;
    background-color: #bb9457;
    box-shadow: 10px 10px #6f1d1b;
    margin-right: 6rem;
    padding-bottom: 15rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
}
#mainTXT p{
    padding-left: 1rem;
    padding-right: 1rem;
}
#mainTXT h1{
    text-align: center;
    margin: 0;
    font-size: large;
}

#subIMG{
    grid-area: Simg;
    float:right;
    transform:translateY(-13rem);
}
#IMGSM{
    max-width: 65%;
    float: right;
    border-top:5px solid #6f1d1b;
    border-bottom:5px solid #6f1d1b;
    border-left:5px solid #6f1d1b;
}

#infoTXT{
    grid-area: InfoCard;
    text-align: center;
    font-size: small;
    background-color: #af6d2b;
    box-shadow: 10px 10px #6f1d1b;
    margin-right: 13rem;
    margin-top: 0;
    margin-bottom: 0;
    transform:translateY(-15rem);
    margin-left: -1rem;
}
#infoTXT p{
    padding: 1rem;
}

footer{
    grid-area: Foot;
    background-color: #3f5f37;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px 10px #2c4226;
}
