.sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-color: #c5c1a2;
    font-family: Arial, Helvetica, sans-serif;
}
main,header,footer{
    background-color: #EEEBD3;
    margin: 0 auto;
    width: 80vw;
}
/* h1{
    color:red;
    font-family: "Sofadi One";
    border-bottom: 1px solid blue;
    margin-left: 2rem;
} */
h2{
    color:maroon;
    font-family: "Sofadi One",Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}
blockquote{
    text-align: center;
    background-color: lightgrey;
    padding: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

#fygar img{
    display:block;
    max-width: 25%;
    margin-left:auto;
    margin-right: auto;

}
img.side{
    float:right; 
    margin: 0 12px;
}
ul{
    list-style: none;
    padding: 0;
    margin-left: 2rem;
}
p{
    margin-left: 2rem;
}
footer{
    background-color: #ff8011c5;
    padding-bottom: 1rem;
}
 hr{
    border-color: #FF1B1C;
 }
#imgbig{
    border: 4px solid #FF1B1C;
}
#dig{
    border: 4px solid #FF1B1C;
}
a:link{
    color:#FF1B1C;
}
a:visited{
    color:#454E9E;
}
a:focus{
    color:#FED766;
}
a:hover{
    color:#F26430;
}
a:active{
    color:#0CAADC;
}


  