
/* *{
    border: 1px solid white;
} */
body{
    background-color: #1e352f;
    text-align: center;
    color: #e7f0e1;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#content{
    margin-left:20%;
    margin-right:20%;
    box-shadow:4px 4px 10px #0a120f, -4px -4px 10px #0a120f;
}
h1{
    color: #828c51;
    font-size: 4rem;
    padding-top: 5rem;
    overflow-wrap: break-word;
}
#personalIMG{
    float:right;
    max-block-size: 100%;
    padding-left: 1rem;
    /* padding-right: 3rem; */ 
    padding-top: 3.5rem;
}
 .bio{
    padding-left: 2rem;
    padding-right: 2rem;
} 
.bio strong{
    font-size: 1.25rem;
}
.bio p{
    padding-top:4rem;
    /* margin-left: 10rem; */
    text-align:right;
}
div{
    margin-top: 2rem;
}
div .projects{
    padding-top:5rem;
    padding-bottom:5rem;
}
div.projects p{
    clear:right;
    font-weight:bold;
    font-size:x-large;
}
nav a{
    padding: 1rem;
}
a:link{
    color:#947EB0;
}
a:visited{
    color:#808D8E;
}
a:focus{
    color:#a3a5c3;
}
a:hover{
    color:#766c7f;
}
a:active{
    color:#a9d2d5;
}
 #GIT{
    padding-top:1rem;
} 